In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style

%matplotlib inline

C:\Users\emoradi\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### Read an overview of the dataframe

In [2]:
df=pd.read_excel('Data_Pathrise.xlsx')

In [3]:
df.head()

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,1.0,Active,SWE,OCT19A,NaN,0.0,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900.0,Male,Non-Hispanic White or Euro-American
1,2.0,Active,PSO,JAN20A,NaN,0.0,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0.0,Male,Non-Hispanic White or Euro-American
2,3.0,Closed Lost,Design,AUG19B,0.0,0.0,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0.0,Male,East Asian or Asian American
3,4.0,Closed Lost,PSO,AUG19B,0.0,0.0,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25.0,Male,Decline to Self Identify
4,5.0,Placed,SWE,AUG19A,89.0,1.0,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100.0,Male,East Asian or Asian American

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   float64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   float64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   float64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(5), object(11)
memory usage: 318.1+ KB

In [5]:
df.shape

(2544, 16)

In [6]:
df.describe()

,id,program_duration_days,placed,number_of_interviews,number_of_applications
count,2544.000000,1928.000000,2544.000000,2326.000000,2544.000000
mean,1272.500000,136.098548,0.375786,2.182287,36.500786
std,734.533866,125.860248,0.484420,2.959273,53.654896
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,636.750000,14.000000,0.000000,0.000000,9.000000
50%,1272.500000,112.000000,0.000000,1.000000,20.000000
75%,1908.250000,224.000000,1.000000,3.000000,45.000000
max,2544.000000,548.000000,1.000000,20.000000,1000.000000

In [7]:
df_s= df.isnull().sum().sort_values(ascending=False)
df_s

program_duration_days          616
gender                         492
work_authorization_status      284
employment_status              229
professional_experience        222
number_of_interviews           218
length_of_job_search            74
highest_level_of_education      58
biggest_challenge_in_search     24
race                            18
cohort_tag                       8
id                               0
pathrise_status                  0
primary_track                    0
placed                           0
number_of_applications           0
dtype: int64

In [ ]:
df["program_duration_days"].value_counts()

In [ ]:
len(set(df["program_duration_days"]))

In [ ]:
df["program_duration_days"].describe()

In [ ]:
df["work_authorization_status"].value_counts()

In [ ]:
df["employment_status "].value_counts()

In [ ]:
df["employment_status "].describe()

In [ ]:
df["professional_experience"].value_counts()

In [ ]:
df["number_of_interviews"].value_counts()

In [ ]:
df["length_of_job_search"].value_counts()

In [ ]:
df["highest_level_of_education"].value_counts()

In [ ]:
df["biggest_challenge_in_search"].value_counts()

In [ ]:
df["race"].value_counts()

In [ ]:
df["primary_track"].value_counts()

In [ ]:
df["placed"].value_counts()

In [ ]:
df["placed"].describe()

 ## drop the columns that do not affect the result

In [ ]:
df= df.drop(['id', 'pathrise_status', 'cohort_tag'], axis=1)

In [ ]:
df.info()

In [ ]:
df_success= df[df['placed']==1]

In [ ]:
df_success.info()

In [ ]:

df_unsuccess= df[df['placed']!=1]

In [ ]:
df_unsuccess.info()

In [ ]:
df.isnull().values.any()