In [ ]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib import style

%matplotlib inline

### Read an overview of the dataframe

In [2]:
df=pd.read_excel('Data_Pathrise.xlsx')

In [17]:
df.head()

,id,pathrise_status,primary_track,cohort_tag,program_duration_days,placed,employment_status,highest_level_of_education,length_of_job_search,biggest_challenge_in_search,professional_experience,work_authorization_status,number_of_interviews,number_of_applications,gender,race
0,1,Active,SWE,OCT19A,NaN,0,Unemployed,Bachelor's Degree,3-5 months,Hearing back on my applications,3-4 years,Canada Citizen,2.0,900,Male,Non-Hispanic White or Euro-American
1,2,Active,PSO,JAN20A,NaN,0,Unemployed,"Some College, No Degree",3-5 months,Getting past final round interviews,1-2 years,Citizen,6.0,0,Male,Non-Hispanic White or Euro-American
2,3,Closed Lost,Design,AUG19B,0.0,0,Employed Part-Time,Master's Degree,Less than one month,Figuring out which jobs to apply for,Less than one year,Citizen,0.0,0,Male,East Asian or Asian American
3,4,Closed Lost,PSO,AUG19B,0.0,0,Contractor,Bachelor's Degree,Less than one month,Getting past final round interviews,Less than one year,Citizen,5.0,25,Male,Decline to Self Identify
4,5,Placed,SWE,AUG19A,89.0,1,Unemployed,Bachelor's Degree,1-2 months,Hearing back on my applications,1-2 years,F1 Visa/OPT,10.0,100,Male,East Asian or Asian American

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [6]:
df.describe()

,id,program_duration_days,placed,number_of_interviews,number_of_applications
count,2544.000000,1928.000000,2544.000000,2326.000000,2544.000000
mean,1272.500000,136.098548,0.375786,2.182287,36.500786
std,734.533866,125.860248,0.484420,2.959273,53.654896
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,636.750000,14.000000,0.000000,0.000000,9.000000
50%,1272.500000,112.000000,0.000000,1.000000,20.000000
75%,1908.250000,224.000000,1.000000,3.000000,45.000000
max,2544.000000,548.000000,1.000000,20.000000,1000.000000

In [13]:
df_s= df.isnull().sum().sort_values(ascending=False)
df_s

program_duration_days          616
gender                         492
work_authorization_status      284
employment_status              229
professional_experience        222
number_of_interviews           218
length_of_job_search            74
highest_level_of_education      58
biggest_challenge_in_search     24
race                            18
cohort_tag                       8
id                               0
pathrise_status                  0
primary_track                    0
placed                           0
number_of_applications           0
dtype: int64

In [46]:
df["program_duration_days"].value_counts()

0.0      217
13.0      34
11.0      27
12.0      25
14.0      22
        ...
279.0      1
370.0      1
523.0      1
502.0      1
488.0      1
Name: program_duration_days, Length: 411, dtype: int64

In [48]:
len(set(df["program_duration_days"]))

1027

In [21]:
df["work_authorization_status"].value_counts()

Citizen           1104
F1 Visa/OPT        644
Green Card         184
F1 Visa/CPT        132
Other              112
H1B                 48
Canada Citizen      24
STEM OPT             8
Not Authorized       4
Name: work_authorization_status, dtype: int64

In [23]:
df["employment_status "].value_counts()

Student               775
Unemployed            665
Employed Full-Time    435
Employed Part-Time    270
Contractor            170
Name: employment_status , dtype: int64

In [24]:
df["professional_experience"].value_counts()

1-2 years             882
Less than one year    618
3-4 years             558
5+ years              264
Name: professional_experience, dtype: int64

In [25]:
df["number_of_interviews"].value_counts()

0.0     758
1.0     522
2.0     307
3.0     203
4.0     193
5.0     137
6.0      76
7.0      60
10.0     19
20.0     18
8.0       6
11.0      4
18.0      4
17.0      4
19.0      3
14.0      3
15.0      2
9.0       2
16.0      2
12.0      2
13.0      1
Name: number_of_interviews, dtype: int64

In [26]:
df["length_of_job_search"].value_counts()

Less than one month    815
1-2 months             785
3-5 months             515
6 months to a year     235
Over a year            120
Name: length_of_job_search, dtype: int64

In [27]:
df["highest_level_of_education"].value_counts()

Bachelor's Degree                   1361
Master's Degree                      810
Some College, No Degree              135
Doctorate or Professional Degree     135
High School Graduate                  15
GED or equivalent                     15
Some High School                      15
Name: highest_level_of_education, dtype: int64

In [32]:
df["biggest_challenge_in_search"].value_counts()

Hearing back on my applications         1002
Getting past final round interviews      294
Technical interviewing                   288
Lack of relevant experience              222
Getting past mid-stage interviews        210
Figuring out which jobs to apply for     186
Getting past phone screens               180
Behavioral interviewing                   60
Resume gap                                42
Technical skills                          36
Name: biggest_challenge_in_search, dtype: int64

In [34]:
df["race"].value_counts()

East Asian or Asian American                  900
Non-Hispanic White or Euro-American           573
South Asian or Indian American                537
Latino or Hispanic American                   156
Black, Afro-Caribbean, or African American    126
Two or More Races                              96
Decline to Self Identify                       69
Middle Eastern or Arab American                66
Native American or Alaskan Native               3
Name: race, dtype: int64

In [39]:
df["primary_track"].value_counts()

SWE          1678
PSO           322
Design        288
Data          248
Web             6
Marketing       2
Name: primary_track, dtype: int64

In [40]:
df["placed"].value_counts()

0    1588
1     956
Name: placed, dtype: int64

In [43]:
df["placed"].describe()

count    2544.000000
mean        0.375786
std         0.484420
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: placed, dtype: float64

 ## drop the columns that do not affect the result

In [44]:
df= df.drop(['id', 'pathrise_status', 'cohort_tag'], axis=1)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                2544 non-null   object
 1   program_duration_days        1928 non-null   float64
 2   placed                       2544 non-null   int64
 3   employment_status            2315 non-null   object
 4   highest_level_of_education   2486 non-null   object
 5   length_of_job_search         2470 non-null   object
 6   biggest_challenge_in_search  2520 non-null   object
 7   professional_experience      2322 non-null   object
 8   work_authorization_status    2260 non-null   object
 9   number_of_interviews         2326 non-null   float64
 10  number_of_applications       2544 non-null   int64
 11  gender                       2052 non-null   object
 12  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 258.5+ KB

In [49]:
df_success= df[df['placed']==1]

In [50]:
df_success.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 956 entries, 4 to 2534
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                956 non-null    object
 1   program_duration_days        956 non-null    float64
 2   placed                       956 non-null    int64
 3   employment_status            857 non-null    object
 4   highest_level_of_education   940 non-null    object
 5   length_of_job_search         919 non-null    object
 6   biggest_challenge_in_search  941 non-null    object
 7   professional_experience      901 non-null    object
 8   work_authorization_status    831 non-null    object
 9   number_of_interviews         877 non-null    float64
 10  number_of_applications       956 non-null    int64
 11  gender                       806 non-null    object
 12  race                         950 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 104.6+ KB

In [51]:

df_unsuccess= df[df['placed']!=1]

In [52]:
df_unsuccess.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1588 entries, 0 to 2543
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   primary_track                1588 non-null   object
 1   program_duration_days        972 non-null    float64
 2   placed                       1588 non-null   int64
 3   employment_status            1458 non-null   object
 4   highest_level_of_education   1546 non-null   object
 5   length_of_job_search         1551 non-null   object
 6   biggest_challenge_in_search  1579 non-null   object
 7   professional_experience      1421 non-null   object
 8   work_authorization_status    1429 non-null   object
 9   number_of_interviews         1449 non-null   float64
 10  number_of_applications       1588 non-null   int64
 11  gender                       1246 non-null   object
 12  race                         1576 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 173.7+ KB